<div class="bg-light dark:bg-darkmode-light rounded p-8 text-center mx-auto max-w-md h-full flex flex-col justify-between">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict
  "Src" $image
  "Context" .Page
  "Alt" .Title
  "Class" "mx-auto mb-6 w-[200px] h-[200px] rounded-full object-cover"
  "Resize" "200x200"
  "Loading" "lazy"
) }}
  {{ else if .Params.Email }}
    <img
  class="mx-auto mb-6 w-[200px] h-[200px] rounded-full object-cover"
  alt="{{ .Title }}"
  src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=200&pg&d=identicon" />
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">
    {{ .Summary | plainify }}
  </p>
  <ul class="social-icons">
    <ul class="flex justify-center flex-wrap gap-x-3 gap-y-3 mt-3 max-w-full">
    {{ range .Params.social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow" class="block">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }} text-xl"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>